<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>MN State Facts</title>
  
  <script src="/global.js" type="text/javascript" charset="utf-8"></script>
  
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
    
      <link rel="stylesheet" type="text/css" href="css/screenstyles.css" />
      <link rel="stylesheet" type="text/css" href="css/screen_layout_large.css" />
      <link rel="stylesheet" type="text/css" media="only screen and (min-width:50px) and (max-width:500px)"
      href="css/screen_layout_small.css" /> 
      <link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:800px)"
      href="css/screen_layout_medium.css" />
    
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/farinspace/jquery.imgpreload.min.js"></script>
<script type="text/javascript" src=js/design.js></script>    
    
      <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie_7_and_8.css" />
  <script type="text/javascript" src="js/respond.min.js"></script>      
      	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

  
</head>

<body>

<form action="/addslide_verify" method="post">

  <p>Title:<br>
  <input style="font-size:14px" required class="longtextbox" name="title"></p>
  <p>Body:<br>
  <input style="font-size:14px" required class="textbox" name="body"></p>
  <input type="submit" id="submit" value="Add New Slide">
  </form>
  
  <div align="right">
    <a href="/"><button id="home_btn">Home</button></a>
  </div>
  <br>
  <br>
  
  <footer>
    &copy; 2015 Quiz Show
  </footer>
  
  </body>
  </html>