<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MN Facts Quiz</title>
<link href="css/screenstyles.css" rel="stylesheet" type="text/css" />
<script src="/game.js" type="text/javascript" charset="utf-8"></script>


</head>

<body>
<h2>MN State Facts Quiz</h2>

<h3>Are you ready to play?</h3>

  <p><div>
      <a href="/quiz"><button value="quizshow" id="quiz_btn">Play Quiz Now!</button></a>
      <br>
      <br>
      <div align="right">
      <a href="/slides"><button value="slideshow" id="slides_btn">Watch Slides</button></a>
      <a href="/"><button id="home_btn">Home</button></a>
      </div>


    </div></p>

 <footer>
   &copy; 2015 Quiz Show
 </footer>
 
 
</body>
 
</html>