<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MN Facts Quiz</title>
<link href="css/css.css" rel="stylesheet" type="text/css" />
<script src="/game.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>
<h1>MN State Facts Quiz</h1>

<h2>Are you ready to play?</h2>

  <p><div>
      <a href="/quiz"><button value="quizshow" id="quiz_btn">Play Now</button></a>
      <a href="/slides/"><button value="slideshow" id="slides_btn">Watch Slides</button></a>
      <a href="/"><button id="home_btn">Home</button></a>


    </div></p>

 
</body>
 
</html>