<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>Facts Slideshow</title>
  
  <link rel="stylesheet" href="/mystyle.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script src="/global.js" type="text/javascript" charset="utf-8"></script>
  
</head>

<body>

<h3>Some stuff on this page</h3>
<h4>Not that exciting</h4>

    <div id="slide">
      <div id="title"></div>
      <div id="body"></div>
    </div>   

    <div id="box">
      <a href="/" id="prev_btn">&laquo;</a>
      <a href="/" id="next_btn">&raquo;</a>
    </div>


      
      
</body>
</html> 

