<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>Facts Slideshow</title>
  
  <link rel="stylesheet" href="/mystyle.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script src="/global.js" type="text/javascript" charset="utf-8"></script>
  
</head>

<body>
      <div align="right">
        <% if session[:user_id] != nil %>
        <div style="font-size:8px" id="user">Hello, <%= session[:user_id] %>! </div>
        <%end%>
        <!-- <a href="/login" id="id_btn">Log in</a> -->
        <a href="/login"><button id="li_btn">Log in</button></a>
        <!-- <a href="/login" id="id_btn">Log in</a> -->
        <a href="/logout"><button id="lo_btn">Log out</button></a>
      </div>

  <h2>Minnesota State Facts</h2>
  <p><div id="login"></div></p>
    <div id="box">
      <div id="slide">
        <h3><div id="title"></div></h3>
        <h4><div id="body"></div></h4>
      </div>
      <button value="current_slide" id="prev_btn">Previous</button>
      <button value="current_slide" id="next_btn">Next</button>
    </div>
    
      
</body>
</html> 

