<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>Facts Slideshow</title>
  
  <link rel="stylesheet" href="/mystyle.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script src="/global.js" type="text/javascript" charset="utf-8"></script>
  
</head>

<body>

  <h2>Minnesota State Facts</h2>
  <p><div id="login"></div></p>
    <div id="box">
      <div id="slide">
        <h3><div id="title"></div></h3>
        <h4><div id="body"></div></h4>
      </div>
      <button value="current_slide" id="prev_btn">Previous</button>
      <button value="current_slide" id="next_btn">Next</button>
    </div>
    
      <a href="/login" id="id_btn">Log in</a>
      
</body>
</html> 

