
<form action="/login_verify" method="post">

  <p>Username:<br>
  <input type="email" placeholder="Enter your email" style="font-size:14px" required class="longtextbox" name="username"></p>
  <p>Password:<br>
  <input type="password" placeholder="Enter your password" style="font-size:14px" required class="longtextbox" name="password"></p>
  <input type="submit" id="submit" value="Log In">
  </form>
  
  <a href="/"><button id="home_btn">Home</button></a>
  
  
  <footer>
    &copy; 2015 Quiz Show
  </footer>
  