<form action="/login_verify" method="post">
  <p><%= @error %></p>
  <p>Username:<br>
  <input type="text" placeholder="Enter your email" style="font-size:14px" required class="longtextbox" name="username"></p>
  <p>Password:<br>
  <input type="text" placeholder="Enter your password" style="font-size:14px" type="password" required class="longtextbox" name="password"></p>
  <input type="submit" id="submit" value="Log In">
  </form>