<!-- <%= @error if @error != nil %> -->

<% if session[:error] != nil %>
  <div style="font-size:16px; background-color: yellow;"> <%= session[:error] %> </div>
<%end%>

<form action="/login_verify" method="post">

  <p>Username:<br>
  <input type="email" placeholder="Enter your email" style="font-size:14px" required class="longtextbox" name="username"></p>
  <p>Password:<br>
  <input type="password" placeholder="Enter your password" style="font-size:14px" required class="longtextbox" name="password"></p>
  <input type="submit" id="submit" value="Log In">
  </form>