@charset "UTF-8";

/* Layout Small Screens */

header {
  background: url('../images/banner_small.jpg') no-repeat right 0px;
}

article {
  padding: 20px 20px 10px 20px;
}

nav {
  padding: 0px;
}

nav a {
  display: block;
  margin: 0px;
  padding: 9px;
  border-bottom: 1px solid #ccc;
  background: url('../images/mobile_arrow.png') no-repeat right center;
}

nav a:hover {
  color: #000;
  background-color: rgba(255,255,255,.5);
}

.promo_container {
  padding: 0px;
}

.promo_container .promo {
  width: auto;
  float: none;
  padding: 10px 0px 0px 0px;
  background-position: 20px 13px;
  border-top: 1px solid #ccc;
}

.promo_container .promo .content {
  padding: 0px 20px 5px 90px;
}

#box {
	width: 325px;
  height: 150px;
	margin: 0 auto;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
  border: #cccccc solid 1px;
	overflow: auto;
}

#box h3, #box h4 {
	margin: 0;
	padding: 0;
  text-align: center;
} 

#box h3 {
	font-size: 1.5em;
	line-height: .9em;
	color: #990033;
  margin: 0 0 10px 0;
}

#box h4 {
	font-size: 1.2em;
	color: #003333;
	font-weight: bold;
	margin-bottom: 3px;
	line-height: 1em;
}

footer {
  border-top: 1px solid #fff;
}

body {
  background-image: none;
}

#hero { height: 100px; background: url(../images/banner_small.jpg) no-repeat right 0px; }
#hero .panel .caption { display: none; }

a.mobile_menu { 
  display: block;
  width: 30px;
  height: 34px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #405099 url(../images/mobile_link_menu.png) no-repeat 4px 4px; 
  position: absolute; top: 64px; left: 10px;
  cursor: pointer;
}

a.mobile_menu.selected { background-position: 4px -26px; }