/* @override 
	http://iviewsource.com/exercises/json/mystyle.css */
	
body {
	background: #EEE7D5;
	font-family: 'Verdana';
}

 h2 {
	font-size: 70px;
  text-align: center;
	color: #000066;
}

#box {
	width: 700px;
  height: 200px;
	margin: 0 auto;
	background: #CCCCCC;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}

#box h3, #box h4 {
	margin: 0;
	padding: 0;
  text-align: center;
} 

#box h3 {
	font-size: 50px;
	line-height: .9em;
	color: #990033;
  margin: 0 0 20px 0;
}

#box h4 {
	font-size: 40px;
	color: #003333;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.2em;
}

#box #next_btn, #box #prev_btn {
	background: #000066;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 20px 0;
	display: inline-block;
}

#box a#next_btn, #box a#prev_btn {
	text-decoration: none;
	color: #FFF;
}